.paket/paket.exe
.vs/*
*/bin/Debug/*
*/bin/Release/*
Phonebook.WebApp/bin/*
*/obj/*
packages/*
*.csproj.user
*.DotSettings
output/*
.fake/

Phonebook.WebApp/bin/logs/*
_NCrunch_*
*.ncrunchsolution.user
*.ncrunchsolution
*.ncrunchproject
*/bin/feedback/*
