body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div#picture {
    width: 50px;
    height: 50px;
    padding-top: 15%;
    text-align: center;
    background: grey;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: white;
}

.innerTable {
    padding-top: 16px;
}

a {
    cursor: pointer;
}

.FormWrapper {
    margin: 0 auto;
    width: 650px !important;
}

.innerBtnWrapper {
    width: 100%;
    margin: 0 auto;
}

input.clsBtn {
    width: 100%;
    background-color: gray;
    color: white;
    border-radius: 3px !important;
}

    input.clsBtn:hover {
        background-color: dimgray;
        color: white;
    }

    input.clsBtn:focus {
        background-color: dimgray;
        color: white;
    }
